doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title CMI Communications Rental Order Form - alpha
    meta(name="description", content="CMI Communications Rental Order Form - alpha")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon", href="apple-touch-icon.png")
    link(rel="stylesheet", href="style/style.css")
    script(src="js/libs/modernizr.js")


  body#index
    a(href="#main", class="visuallyhidden") Skip to main content
    div.container
      header.header
        div.wrapper
          h1 CMI Communications Rental Order Form - alpha

      div#main
        div.wrapper
          form.rental-order-form(action="#")
            div#event-information.event-information
            //- div#event-information.event-information
              h2.t3.event-title AAR 2013 Annual Conference Oregon Convention Center
              p.event-date September 30 - October 4, 2013
            div.contact-information
              h3.form-header Contact Information
              ul.contact-list.form-list
                li
                  div.flex
                    div.flex-3
                      label
                        span Contact Name &amp; Company
                        input(type="text", name="contact_name_and_company", placeholder="Cosmo Kramer - Kramerica Industries, Inc.")
                    div.flex-1
                      label
                        span Booth Name or #
                        input(type="text", name="booth_name_or_number", placeholder="Bladder System, or #35")
                li
                  label
                    span Billing Address
                    input(type="text", name="billing_address", placeholder="12345 Main St.")
                li
                  div.flex
                    div.flex-4
                      label
                        span City
                        input(type="text", name="city", placeholder="Brooklynn")

                    div.flex-1
                      label
                        span State
                        input(type="text", name="state", placeholder="New York")
                    div.flex-2
                      label
                        span ZIP
                        input(type="text", name="", placeholder="10279")

            div.rental-equipment-container
                h3.form-header Rental Equipment
                //- table#rental-equipment-headers.equipment-table-headers
                //- table#equipment-table-headers.equipment-table-headers
                  tr
                    th Quantity
                    th Description
                    th Before 1/7/14
                    th After 1/26/14
                    th Total

                div#rental-equipment.rental-equipment
                  //- h4.equipment-header LCD Monitors
                  table#rental-equipment-table.equipment-table
                    tr#rental-equipment-headers

                //- div#rental-equipment.rental-equipment
                  //- h4.equipment-header LCD Monitors
                  table#rental-equipment-table.equipment-table
                    tr#rental-equipment-headers
                      th Quantity
                      th Description
                      th Before 1/7/14
                      th After 1/26/14
                      th Total
                    tr
                      td
                        input(type="input", name="quanitity-item-1")
                      td 17" LCD Display
                      td $175.00
                      td $275.00
                      td
                        span.total &nbsp;
                    tr
                      td
                        input(type="input", name="quanitity-item-1")
                      td 20" LCD Display
                      td $225.00
                      td $350.00
                      td
                        span.total &nbsp;
                    tr
                      td
                        input(type="input", name="quanitity-item-1")
                      td 32" LCD Display
                      td $375.00
                      td $475.00
                      td
                        span.total &nbsp;
                      //- h4.equipment-header Plasma Monitors
                      //- table.equipment-table
                    tr
                      td
                        input(type="input", name="quanitity-item-1")
                      td 43" LCD Display
                      td $475.00
                      td $3275.00
                      td
                        span.total &nbsp;
                    tr
                      td
                        input(type="input", name="quanitity-item-1")
                      td 50" LCD Display
                      td $725.00
                      td $2350.00
                      td
                        span.total &nbsp;
                    tr
                      td
                        input(type="input", name="quanitity-item-1")
                      td 72" LCD Display
                      td $1375.00
                      td $5475.00
                      td
                        span.total &nbsp;



            div.order-total-container
              div.equipment-header &nbsp;
              p
                span Total &nbsp;
                span#total



      footer.footer
        div.wrapper
          p &phi;

    div#templates
      script#event-information-tpl(type="text/x-handlebars-template").
        <h2 class="t3 event-title">{{event_title}}</h2>
        <p class="event-date">{{event_date_start}} - {{event_date_end}}</p>

      script#rental-equipment-headers-tpl(type="text/x-handlebars-template").
        <th>Quantity</th>
        <th>Description</th>
        <th>Before {{before_rate_deadline}}</th>
        <th>After {{after_rate_deadline}}</th>
        <th>Total</th>

      script#rental-equipment-tpl(type="text/x-handlebars-template").
        {{#each rental_equipment}}
        <tr data-equipment-group="{{equipment_group}}" data-before-rate="{{before_rate}}" data-after-rate="{{after_rate}}">
          <td>
            <input type="input" name="quanitity-item-1">
          </td>
          <td>{{equipment_description}}</td>
          <td>{{before_rate}}</td>
          <td>{{after_rate}}</td>
          <td><span class="total">&nbsp;</span></td>
        </tr>
        {{/each}}

    script(src="js/libs/jquery.js")
    script(src="js/libs/handlebars.js")
    script(src="js/libs/moment.js")
    script(src="js/main.js")
